.Button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ButtonHover {
    position: relative;
    width: 0%;
    height: 2px;
    transition: 0.5s;
}

.Button:hover {
    .ButtonHover {
        background-color: rgb(255, 255, 255);
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .ButtonHover {
        display: none;
    }
}

.ButtonUnderline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.ButtonUnderlineStyling {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
