.Footer {
    width: 100%;
    background-color: hsl(0, 0%, 5%);
}

.ContentContainer {
    width: 100%;
    height: 100%;
}

.Content {
    padding: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.Content > div {
    height: 300px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

@media screen and (max-width: 750px) {
    .Content > div {
        width: 49%;
    }
    .Content {
        gap: 5px;
    }
}