.Buttons {
    position: absolute;
    padding: 0.175rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    backdrop-filter: blur(1rem);
    background-color: hsla(0, 0%, 50%, 0.4);
} 

.Left {
    left: 3rem;
}

.Right {
    right: 3rem;
}

@media screen and (max-width: 380px) {
    .Left {
        left: 1rem;
    }
    
    .Right {
        right: 1rem;
    }
}