.HeroSection {
    position: fixed;
    top: 1rem;
    z-index: 2;
}

.Logo {
    left: 1rem;
}

.HeroSection h1 {
    font-size: 2.5rem;
    letter-spacing: -0.025rem;
    font-weight: 700;
}

.HeroSection h1,
.HeroSection span {
    text-transform: uppercase;
}

.Logo span {
    position: absolute;
    font-size: 1rem;
    transform: translate(0.25rem, 0.5rem);
}

.Title {
    align-self: center;
}

.Nav {
    right: 1rem;
    display: flex;
    transform: translate(0, 0.75rem);
}

.Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Body span,
.Body h1,
.Body p {
    color: white;
    z-index: 2;
}

/* INTRODUCTION */

.IntroductionContent {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Content > h1,
.Content > span {
    position: absolute;
}

.Content > .ContentTitleDiv {
    position: absolute;
    top: 10rem;
    left: 1rem;
    text-transform: uppercase;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    will-change: transform;
    /* background-color: red; */
    z-index: 2;
}

.ContentTitleDiv > .ContentTitle {
    font-size: 4rem;
}

.Content > .ContentInfo {
    position: absolute;
    bottom: 5rem;
    right: 2rem;
    width: 40rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    will-change: transform;
    text-transform: uppercase;
    z-index: 2;
}

/* FIRST SLIDE */

.Intro1 {
    font-size: 1.7rem;
    font-weight: 500;
}

.First {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.First .Images {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* SECOND SLIDE */

.Second {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.Second .Content {
    position: absolute;
    left: 5rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;  
    will-change: transform;
    z-index: 2;
    texta
}

.ContentDiv {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: red;
    z-index: 3;
}

.Second .Images {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.Image2Div {
    position: absolute;
    width: 40%;
    aspect-ratio: 1/1;
    translate: 0% 0%;
    right: 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    /* overflow: visible; */
}