.Items {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ButtonNav {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.ButtonNav > a {
    position: absolute;
}

.ButtonNav > a::selection, .ItemDisplay > *::selection {
    background-color: transparent;
}
.Item {
    display: flex;
    width: 100%;
    gap: 5%;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.Item::-webkit-scrollbar {
    display: none;
}

.EmptyBox {
    background-color: red;
    width: 5000px;
    height: 100px;
    opacity: 0;
}


.ItemDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    min-width: 30%;
    position: relative;
    transform: translateX(110%);
}

.ItemDisplay > img {
    width: 90%;
}

