.Items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 50px;
}

.ButtonNav {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.ButtonNav > a {
    position: absolute;
}

.ButtonNav > a::selection, .ItemDisplay > *::selection {
    background-color: transparent;
}
.Item {
    display: flex;
    align-self: center;
    height: 550px;
    width: 80%;
    gap: 5%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: scroll;
}

.Item::-webkit-scrollbar {
    display: none;
}

.EmptyBox {
    width: 5000px;
    height: 100px;
    opacity: 0;
}


.ItemDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
    min-width: 500px;
    height: 600px;
    position: relative;
}

.ItemDisplay > img {
    width: 500px;
}

