.Items {
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: hsla(0, 0%, 87%, 0.421);
}

.ContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 25px;
}

.ButtonNav {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.ButtonNav > a {
    position: absolute;
}

.ButtonNav > a::selection, .ItemDisplay > *::selection {
    background-color: transparent;
}
.Item {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    gap: 5%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: scroll;
}

.Item::-webkit-scrollbar {
    display: none;
}

.EmptyBox {
    width: 5000px;
    height: 100px;
    opacity: 0;
}


.ItemDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: center;
    min-width: 500px;
    height: 100%;
    position: relative;
    transition: 0.5s;
    gap: 20px;
    cursor: pointer;
}

.ItemImage {
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: bottom;
}

.Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding-bottom: 5px;
    /* background-color: green; */
    overflow: visible;
}

@media screen and (max-width: 900px) {
    .Item {
        width: 100%;
    }
    .ItemDisplay {
        min-width: 100%;
    }
    .ItemDisplay > img {
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .Item {
        width: 100%;
        height: 500px;
    }
    .ItemDisplay {
        min-width: 100%;
    }
    .ItemDisplay > img {
        width: 100%;
    }
}


