.Header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    transition: 0.3s;
    padding: 10px 0;
}

.Header > * {
    width: 33.33%;
}

.LogoDiv {
    padding-top: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: -1;
    /* background-color: red;   */
}

.LeftSide {
    display: flex;
    margin-top: 10px;
    padding-left: 100px;
}

.RightSide {
    display: flex;
    margin-top: 10px;
    padding-right: 100px;
}

.NewsContainer {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-right: auto;
    margin-top: 5px;
    height: 1.5rem;
    overflow: hidden;
}