.HeaderContainer {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    transition: 0.2s;
}

.Header {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CategoriesIcon {
    display: none;
}
.LogoDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: -1;
    transition: 0.2s;

    /* background-color: red;   */
}

.LeftSide {
    display: flex;
    padding-left: 120px;
    width: 40%;
}

.RightSide {
    display: flex;
    padding-right: 120px;
    /* width: 40%; */
    justify-content: center;
    /* background-color: blue; */
}

.NewsContainer {
    position: absolute;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    overflow: hidden;
    text-wrap: wrap;
    text-align: start;
    
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.ContactUsText, .CategoriesText {
    font-size: 0.9rem;
}

@media screen and (max-width: 900px) {
    .Header {
        /* background-color: blue ; */
        width: 100vw;
        align-self: center;
    }
    .LeftSide {
        width: 40%;
        padding-left: 2%;
        /* background-color: red; */
    }
    .RightSide {
        width: 40%;
        padding-right: 2%;
        /* background-color: black; */
        display: flex;
        justify-content: flex-end;
    }
    .ContactUsText, .CategoriesText {
        font-size: 0.82rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 550px) {
    .ContactUsText, .CategoriesText {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 500px) {
    .HeaderContainer {
        height: auto;
    }
    .LogoDiv {
        justify-content: flex-start;
    }
    .CategoriesText {
        display: none;
    }
    .CategoriesIcon {
        display: block;
    }
    .ContactUs {
        display: none;
    }
    /* .Logo {
        animation: marginleft 1s ease-in-out 4s forwards;
    } */
    .RightSide {
        position: relative;
        width: 100vw;
        justify-content: flex-end;
        padding-right: 5%;
        margin-top: 5px;
    }
}

@keyframes marginleft {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 20px;
    }
}