@font-face {
  font-family: 'TypeLightSans';
  src: url('/fonts/TypeLightSans-Regular.woff2') format('woff2'),
      url('/fonts/TypeLightSans-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-Italic.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-Light.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-LightItalic.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-Medium.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-MediumItalic.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-SemiBold.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-Thin.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-ThinItalic.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-BlackItalic.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-Black.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-Bold.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-BoldItalic.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-ExtraBold.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-ExtraLight.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans/WorkSans-ExtraLightItalic.woff2') format('woff2'),
      url('/fonts/WorkSans/WorkSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}



:root {
  font-family: "Work Sans", "TypeLightSans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; 
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  font-weight: 500;
  text-decoration: inherit;
  transition: 0.5s;
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  transition: 0.2s ease-in-out;
  font-weight: 500;
  color: white;
}

input:focus {
  border-bottom: 1px solid hsla(0, 0%, 100%, 1);
}

input::placeholder {
  color: hsla(0, 0%, 95%, 0.7);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}